<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Password confirmation</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
<!--google fonts-->
<script src="js/jquery-2.1.4.min.js"></script>
</head>
<body>		
	<!-- login -->
		<div class="login-section w3l">
			 <div class="login">	
				<div class="modal-content modal-info">
					<div class="modal-header">
						<h3>Змінити пароль</h3>	
					</div>
					<div class="modal-body modal-spa">
						<div class="login-form">			
							<form action="#" method="post">
								<input type="password" class="lock" name="password" placeholder="Новий пароль" required="" />
								<input type="password" class="lock" name="password" placeholder="Підтвердіть пароль" required="" />
								
								<input type="submit" value="ЗМІНИТИ">
							</form>	
						</div>								
					</div>
				</div>
			<!-- //login -->
					<div class="clear"></div>
				</div> 
			
			<div class="clear"></div>
			</div>
			<p class="footer">© 2016 Sign Up Password Form Widget. All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts</a></p>	
</body>
</html>